/* 默认字体颜色 */
$defaultGray: #888;
$defaultFont: #555;
$defaultWhite:#fff;
$defaultBlack:#000;
$defaultHover: #e5e5e5;
$defaultBorder: #d5d5d5;
$defaultShadow: rgba(0, 0, 0, .2);
$defaultTips: rgba(0, 0, 0, .6);
/* 关键色系 */
$primaryColor: #337ab7;
$primaryHover: #286090;
$primaryActive: #204d74;
$primaryBorder: #2e6da4;
$primaryTransparent: rgba(51, 122, 183, .9);
$primaryActiveShadow: #122b40;
/* 成功色系 */
$successColor: #5cb85c;
$successHover: #449d44;
$successActive: #398439;
$successBorder: #4cae4c;
$successTransparent: rgba(92, 184, 92, .9);
$successActiveShadow: #255625;
/* 信息色系 */
$infoColor: #5bc0de;
$infoHover: #31b0d5;
$infoActive: #269abc;
$infoBorder: #46b8da;
$infoTransparent: rgba(91, 192, 222, .9);
$infoActiveShadow: #1b6d85;
/* 警告色系 */
$warningColor: #f0ad4e;
$warningHover: #ec971f;
$warningActive: #d58512;
$warningBorder: #eea236;
$warningTransparent: rgba(240, 173, 78, .9);
$warningActiveShadow: #985f0d;
/* 错误色系 */
$dangerColor: #d9534f;
$dangerHover: #c9302c;
$dangerActive: #ac2925;
$dangerBorder: #d43f3a;
$dangerTransparent: rgba(217, 83, 79, .9);
$dangerActiveShadow: #761c19;